/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";

$component-default-color: #672f63;
$component-default-color-hover: lighten($component-default-color, 14%);
$up-first-color: #90b46a;
$up-second-color: $component-default-color;
$up-third-color: #ab182b;
$component-default-bg: linear-gradient(40deg, $up-first-color, $up-first-color 5%, $up-second-color 25%, $up-second-color 75%, $up-third-color 95%, $up-third-color);
$component-active-bg: #d4edda;
$component-active-bg-hover: lighten(#000, 93.5%);
$component-active-color: var(--success);
$component-active-border: lighten($component-default-color, 27%);
$component-active-border-shadow: lighten($component-default-color, 49%);

textarea, input {
  &:active, &:focus {
    border-color: $component-active-border !important;
    box-shadow: 0 1px 1px $component-active-border-shadow inset, 0 0 4px $component-active-border-shadow !important;
    outline: 0 none;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $component-default-color;
  background-color: $component-default-color;
}

h1 { font-size: 1.15rem; font-weight: 600; color: $component-default-color; }
h2 { font-size: 1.05rem; font-weight: 600; color: $component-default-color; }

a {
  color: $component-default-color;
  outline: none;
  transition: ease all .2s;
  &.card-block {
    display: inline-block;
    .card {
      transition: ease all .3s;
      .card-body { font-size: .95rem; }
      table { font-size: .9rem; }
    }
    &.bg-active {
      color: $component-active-color;
      .card {
        background-color: $component-active-bg;
      }
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
      .card {
        filter: brightness(90%) contrast(110%);
      }
    }
  }
  &:hover, &:active, &:focus {
    filter: brightness(90%) contrast(110%);
  }
}

a, .alert {
  i.fa {
    padding-right: 5px;
  }
}
i.fa.status {
  padding-left: 10px;
  cursor: help;
}

.navbar.navbar-dark.bg-primary { background: $component-default-bg !important; }
.navbar-brand { font-weight: 700;  }

h1.page-title {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

h2.card-title {
  color: inherit;
}

div.actions {
  margin-top: 20px;
  padding-top: 20px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-top-style: solid;
  border-top-width: 1px;
}

.form-group {
  label:first-child {
    font-weight: bold;
  }
}

.card-footer, .card-header {
  padding: 0.5rem 0.75rem;
}

.card-header { background-color: #eee; }

input[type="radio"] { cursor: pointer; }
input[type="radio"] + label { margin: 0 5px; cursor: pointer; }
input[type="radio"][disabled] { color: red; cursor: not-allowed; }
input[type="radio"][disabled] + label { color: #999; cursor: not-allowed; }
